fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pydantic-settings
httpx
orjson
rich
tqdm

lancedb
pyarrow
tantivy

sentence-transformers
transformers
accelerate
bm25s
PyStemmer

pymupdf
python-docx
selectolax
pandas
tiktoken

groq
pytest
